{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric "Obama" Martin III, no-longer-Esq.</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
      </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-left menu simple medium-horizontal">
      <a href="#home-target">~Eric o'Clock~</a>
      </div>
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="#home-target">Home</a></li>
        <li><a href="#about-target">About Me</a></li>
        <li><a href="#portfolio-target">Portfolio</a></li>
        <li><a href="#resume-target">"Resume"</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>